service:
  name: backend

plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs16.x
  stage: dev
  environment:
    # inject environment variables from CircleCI into serverless so they're available in node
    GOOGLE_CALENDAR_API_KEY: ${env:GOOGLE_CALENDAR_API_KEY}
    GOOGLE_CALENDAR_ID: ${env:GOOGLE_CALENDAR_ID}
    MEETUP_API_KEY: ${env:MEETUP_API_KEY}
    SLACK_JOIN_REQUEST_URL: ${env:SLACK_JOIN_REQUEST_URL}
    RECAPTCHA_SECRET_KEY: ${env:RECAPTCHA_SECRET_KEY}

functions:
  upcomingEvents:
    handler: handler.upcomingEvents
    events:
      - http:
          path: events/upcoming
          method: get
          cors: true
  joinSlack:
    handler: handler.joinSlack
    events:
      - http:
          path: slack
          method: post
          cors: true
